<div class="container">
  <h3>Employee Form</h3>

  <!-- forms in angular are directives which can be used somewhere else
  Therefore we can give the form a name #form="ngForm" and reuse-->
  <form #form="ngForm" (submit)="submitForm(form)" novalidate>
    <!-- Adding a class tot he div conditionally -->
    <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
      <label class="control-label" for="firstNameId">First Name</label>
      <!-- Two way data bind example calling a function
      and assigning a template for the input which them allows to control each field on the form -->
      <input #firstName="ngModel" required maxlength="8" pattern="...+"
             id="firstNameId" type="text" class="form-control" name="firstName"
             [ngModel]="model.firstName"
             (ngModelChange)="firstNameToUpperCase($event)">
      <!-- Conditionally adding error message poping up for validation -->
      <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
        First Name is required and must be more than 3 characters
      </div>
    </div>
    <!-- Print classes associated with a property -->
    <!-- <h3>Classes</h3> -->
    <!-- <h4>{{firstName.invalid}}</h4> -->

    <div class="form-group">
      <label for="lastNameId">Last Name</label>
      <input #lastName="ngModel" id="lastNameId" type="text" class="form-control" required name="lastName"
             [(ngModel)]="model.lastName">
      <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
        Last Name is required and must be more than 3 characters
      </div>
    </div>

    <!-- Easier way to add a check box, div/label/input-->
    <div class="checkbox">
      <label>
        <input type="checkbox" name="is-full-time"
               [(ngModel)]="model.isFullTime"> Full time employee
      </label>
    </div>

    <label>Payment type</label>
    <!-- Adding radio buttons to forms, use div/label/input
    Note that for radio buttons, they all must have the same name attribute -->
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="w2" checked
               [(ngModel)]="model.paymentType">
        W2
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="paymentType" value="1099"
               [(ngModel)]="model.paymentType">
        1099
      </label>
    </div>

    <!-- creating selects -->
    <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label">Primary language</label>
      <!-- Bind this selector to the blur web browser event to check whether is valid or not
      Added change web browser event to pass the value selected every time a change was made. This is used to instantly allow the field to set back to valid once changed without the need to click somewhere else-->
      <select class="form-control"
              #primaryLanguage
              name="primaryLanguage"
              [(ngModel)]="model.primaryLanguage"
              (blur)="validatePrimaryLanguage(primaryLanguage.value)"
              (change)="validatePrimaryLanguage(primaryLanguage.value)">
        <!-- Set the default value to pre populate with the default value specified on the ts class-->
        <option value="default">Select a language...</option>
        <option *ngFor="let lang of languages">
          {{lang}}
        </option>
      </select>
    </div>

    <!--    &lt;!&ndash; Date &ndash;&gt;-->
    <!--    <div class="form-group">-->
    <!--      <label>Date Hired</label>-->
    <!--      <input type="date" class="form-control">-->
    <!--    </div>-->

    <!-- Save button when form is completed -->
    <button class="btn btn-primary" type="submit"
            [disabled]="form.invalid">OK
    </button>
  </form>

  <!-- Prints attributes values iin json format -->
  <!--  Model: {{model |json}}-->
  <!--  <br>-->
  <!-- Prints form value in json format -->
  <!--  Angular: {{form.value | json}}-->

  <!-- Form flags to check if the form integrity -->
  <!--  <h3>{{form.valid}}</h3>-->
  <!--  <h3>{{form.pristine}}</h3>-->
  <!--  <h3>{{form.dirty}}</h3>-->
  <!--  <h3>{{form.touched}}</h3>-->
</div>
