<div class="container">
  <h3>Employee Form</h3>

  <!-- forms in angular are directives which can be used somewhere else
  Therefore we can give the form a name #form="ngForm" and reuse-->
  <form #form="ngForm" novalidate>
    <div class="form-group">
      <label for="firstNameId">First Name</label>
      <!-- Two way data bind example calling a function and assigning a template for the input which them allows to control each field on the form -->
      <input #firstName="ngModel" required id="firstNameId" type="text" class="form-control" name="firstName"
             [ngModel]="model.firstName"
             (ngModelChange)="firstNameToUpperCase($event)">
  
    </div>

    <h3>Classes</h3>
    <!-- Print classes associated with a property -->
    <h4>{{firstName.invalid}}</h4>

    <!--    <div class="form-group">-->
    <!--      <label for="lastNameId">Last Name</label>-->
    <!--      <input id="lastNameId" type="text" class="form-control" required name="lastName"-->
    <!--             [(ngModel)]="model.lastName">-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Easier way to add a check box, div/label/input&ndash;&gt;-->
    <!--    <div class="checkbox">-->
    <!--      <label>-->
    <!--        <input type="checkbox" name="is-full-time"-->
    <!--               [(ngModel)]="model.isFullTime"> Full time employee-->
    <!--      </label>-->
    <!--    </div>-->

    <!--    <label>Payment type</label>-->
    <!--    &lt;!&ndash; Adding radio buttons to forms, use div/label/input-->
    <!--    Note that for radio buttons, they all must have the same name attribute &ndash;&gt;-->
    <!--    <div class="radio">-->
    <!--      <label>-->
    <!--        <input type="radio" name="paymentType" value="w2" checked-->
    <!--               [(ngModel)]="model.paymentType">-->
    <!--        W2-->
    <!--      </label>-->
    <!--    </div>-->
    <!--    <div class="radio">-->
    <!--      <label>-->
    <!--        <input type="radio" name="paymentType" value="1099"-->
    <!--               [(ngModel)]="model.paymentType">-->
    <!--        1099-->
    <!--      </label>-->
    <!--    </div>-->

    <!-- creating selects -->
    <!--    <div class="form-group">-->
    <!--      <label>Primary language</label>-->
    <!--      <select class="form-control"-->
    <!--      name="primaryLanguage"-->
    <!--      [(ngModel)]="model.primaryLanguage">-->
    <!--        <option *ngFor="let lang of languages">-->
    <!--          {{lang}}-->
    <!--        </option>-->
    <!--      </select>-->
    <!--    </div>-->

    <!--    &lt;!&ndash; Date &ndash;&gt;-->
    <!--    <div class="form-group">-->
    <!--      <label>Date Hired</label>-->
    <!--      <input type="date" class="form-control">-->
    <!--    </div>-->

    <!-- Save button when form is completed -->
    <button class="btn btn-primary" type="submit">OK</button>
  </form>

  <!-- Prints attributes values iin json format -->
  <!--  Model: {{model |json}}-->
  <br>
  <!-- Prints form value in json format -->
  <!--  Angular: {{form.value | json}}-->

</div>
